

<div class="row">

    <div id="sim" class="span12" style="border:8px solid #428bca; width:100%; height:350px;">

        @Scripts.Render("~/bundles/three")
        @Scripts.Render("~/bundles/OrbitControls")
        @Scripts.Render("~/bundles/simulatorTwoD")

    </div>

</div>