<div class="jumbotron">

    <h2 style="text-align:center">
        Email verification sent!
    </h2>



    <h3 style="text-align:center">
        Please click link in email to complete registration.
        Logging in will not be possible until this is done.
    </h3>
</div>