
@{
    ViewBag.Title = "Mac Tutorial";
}

<div class="jumbotron">
    <p class="lead"> </p>

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-12">

                <ul class="list-group">
                    <li class="list-group-item" style="font-size:18px">1. You can download the Arduino software <a href="https://www.arduino.cc/en/Main/Software">here</a>, and then choose the type of operating system you have and download! 
                       <p class="list-group-item-text"><img src="~/Images/arduinoSoftware.png" style="width:100%"/></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">2. Once the Arduino software is successfully downloaded go <a href="https://github.com/unwiredben/Rainbowduino-v3">here</a>, and then click “Download ZIP” on the right hand side.
                       <p class="list-group-item-text"><img src="~/Images/rainbowduinoLibrary.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">3. After the library has been successfully downloaded go to your Arduino folder on your machine -> libraries -> and put the Rainbowduino library here (in your libraries folder)
                        <p class="list-group-item-text"><img src="~/Images/libraries.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">4. Before you run any examples go to: Tools-> the board selected should be Board: Arduino Duemilanove or Diecimila, the processor should be Processor: ATmega328.
                        <p class="list-group-item-text"><img src="~/Images/boardAndProcessor.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">5. Also, make sure you have the correct port selected under Tools -> Ports -> (it is usually something like /dev/cu.Bluetooth-Incoming-Port)
                        <p class="list-group-item-text"><img src="~/Images/ports.png" style="width:100%" /></p> 
                    </li>
                    <li class="list-group-item" style="font-size:18px">6. Now, click "Incandescent Designs" in the top left corner (of this page), and then select “Create a new LED Pattern.”
                        <p class="list-group-item-text"><img src="~/Images/homePage.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">7. Once you are to the "Create" form choose whatever pattern and customization you would like to have.
                        <p class="list-group-item-text"><img src="~/Images/createForm.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">8. When you are done completing the form click “Create”, and a “.ino” file will be downloaded to your computer (like the example.ino in the bottom-left corner).
                        <p class="list-group-item-text"><img src="~/Images/downloadedFile.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">9. Click on the downloaded file, and it should tell you that the file needs to be inside an Arduino sketch, and click “OK.”
                        <p class="list-group-item-text"><img src="~/Images/downloadedSketch.png" style="width:100%" /></p>
                    </li>
                    <li class="list-group-item" style="font-size:18px">10. Plug in your board if it isn’t already plugged in, and then go to sketch -> upload, and wait for your pattern to run! 
                        <p class="list-group-item-text"><img src="~/Images/uploadSketch.png" style="width:100%" /></p>
                    </li>
                </ul>

            </div>

        </div>

    </div>

</div>

