@model IEnumerable<IncandescentDesigns.Models.NewsFeed>

@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">

    <h2>Search Prior News Post</h2>
    <p>@*empty line*@</p>

    <div>
        @using (Html.BeginForm())
        {
            <p>
                Find by Title or Body: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
    </div>
    @if (Model != null)
    {
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Read more", "Story", "NewsFeed", new { id = item.PostID }, null)
                    </td>
                </tr>
            }
        </table>
    }
</div>
